
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
#petitCadre{
border:solid black 2px;
text-align: center;
font-size: 200%;
padding-bottom: 40px;
font-family: 'Fascinate Inline', cursive;
}
