<div class="scroller" *ngIf="listeMessages.length!==0">
<ul >
  <div class="lesMessages"*ngFor="let chaqueMessage of listeMessages">
      <label for="quiQuand">
        <a id="quiQuand" href="">{{chaqueMessage.auteur.pseudo}}</a> a écrit le {{chaqueMessage.dateMessage|date}} à {{chaqueMessage.dateMessage|date:'shortTime'}} :
      </label>
      <br>
        <textarea readonly="readonly">{{chaqueMessage.textMessage}}</textarea>
      <br>
  </div>
</ul>
</div>

<div *ngIf="listeMessages.length===0">
  <p><i>On joue au roi du silence ici ?</i></p>
</div>
